<% title 'Email Notification' %>
<h3><span>Email Notification</span></h3>

<p>Please <%= link_to "log in", login_path %> to your account and edit your <em>profile settings</em> to disable email notifications.</p>