<% title ('Subscription Payment Complete') %>
<h3><span>
Subscription Payment Confirmation
</span></h3>
<br class="clear" />

<p >You account has been upgraded to a <b>lifetime Premium Subscription</b> <br/>

You can now add an unlimited number of decks to your study curriculum, what are you waiting for! <%= link_to "Back to your Profile", profile_path %><br/>
</p>

<br/>
<p class="intro_text">Thank again for your ongoing support of Spicy Elephant</p>




